[Desktop Entry]
Name=Gravador CDRDAO
Comment=Gravador simples de CDs usando cdrdao
Exec=gravador-cdrdao
Icon=gravador-cdrdao
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
